
{% extends "base.html" %}

{% block content %}

<div class="container">

    {% for group in groups %}

        <div style="border: 2px solid black">
            <div class="row">
                <div class="col-md-8"><h1>{{ group.name }}</h1></div>
                <div class="col-md-4"><h1><a href="{% url 'projectaccess:delete_group' group.id %}"/>Delete</a></h1></div>
            </div>

            <table class="table">

                <thead>
                    <tr>
                        <td>Members</td>
                    </tr>
                </thead>

                <tbody>

                    {% for user in group.members.all %}

                        <tr>
                            <td> {{ user.name }} ({{ user.display_name }}) </td>

                            <td>
                                <form action="{% url 'projectaccess:groups' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="remove" />
                                    <input type="hidden" name="group_id" value="{{group.id}}">
                                    <input type="hidden" name="user_id" value="{{user.id}}">
                                    <button type="submit" name="submit" class="btn btn-default">Remove</button>
                                </form>
                            </td>

                        </tr>

                    {% endfor %}

                </tbody>
            </table>

            <form action="{% url 'projectaccess:groups' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user_name">Add user to group</label>
                    <input type="hidden" name="action" value="add" />
                    <input type="hidden" name="group_id" value="{{group.id}}">
                    <input type="text" class="form-control" id="user_name" placeholder="Enter user LDAP uid here" name="user_name">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </form>

        </div>

        <hr>

    {% endfor %}

    <a href="{% url 'projectaccess:create_new_group' %}" class="btn btn-default">Create new group</a>

</div>
{% endblock %}
