
{% extends "base.html" %}

{% block content %}

<div class="container">

    {% for project in projects %}

        <h1>Project: {{ project.name }} <a href="{% url 'projectaccess:delete_project' project.id %}"/>Delete</a></h1>

        <table class="table">

            <thead>
                <tr>
                    <td>Members with access</td>
                </tr>
            </thead>

            <tbody>

                {% for user_with_access in users_with_access.objects.all %}
                    <tr>
                        <td> {{ user_with_access.user.name }} <td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

    {% endfor %}

</div>
{% endblock %}