
{% extends "base.html" %}

{% block content %}

<div class="container">

    {% for project in projects %}

        <h1>Project: {{ project.block }} - {{ project.name }}</h1>

        <table class="table">

            <thead>
                <tr>
                    <td>Member's LDAP name</td>
                    <td>Member's P4 user</td>
                </tr>
            </thead>

            <tbody>

                {% for user in project.members.all %}
                    <tr>
                        <td> {% if user.ldap_user %} {{ user.ldap_user.dn }} {% endif %} <td>
                        <td> {% if user.p4_user %} {{ user.p4_user.user }} {% endif %} <td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>

    {% endfor %}

</div>
{% endblock %}