
{% extends "base.html" %}

{% block content %}

<div class="container">

    {% for project in projects %}

        <div style="border: 2px solid black">
            <div class="row">
                <div class="col-md-8"><h1>{{ project.name }}</h1></div>
                <div class="col-md-4"><h1><a href="{% url 'projectaccess:delete_project' project.id %}"/>Delete</a></h1></div>
            </div>

            <table class="table">

                <thead>
                    <tr>
                        <td>Members with access</td>
                    </tr>
                </thead>

                <tbody>

                    {% for group_with_access in project.pagroupprojectaccess_set.all %}

                        <tr>
                            <td> {{ group_with_access.group.name }} </td>

                            <td>
                                <form action="{% url 'projectaccess:projects' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="remove_group" />
                                    <input type="hidden" name="group_with_access_id" value="{{group_with_access.id}}">
                                    <button type="submit" name="submit" class="btn btn-default">Remove</button>
                                </form>
                            </td>

                        </tr>

                    {% endfor %}

                    {% for user_with_access in project.pauserprojectaccess_set.all %}

                        <tr>
                            <td> {{ user_with_access.user.name }} </td>

                            <td>
                                <form action="{% url 'projectaccess:projects' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="action" value="remove_user" />
                                    <input type="hidden" name="user_with_access_id" value="{{user_with_access.id}}">
                                    <button type="submit" name="submit" class="btn btn-default">Remove</button>
                                </form>
                            </td>

                        </tr>

                    {% endfor %}

                </tbody>
            </table>

            <form action="{% url 'projectaccess:projects' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Add user or group to project</label>
                    <input type="hidden" name="action" value="add" />
                    <input type="hidden" name="project_id" value="{{project.id}}">
                    <input type="text" class="form-control" id="name" placeholder="Enter user LDAP uid or group name here" name="name">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </form>

        </div>

        <hr>

    {% endfor %}

    <a href="{% url 'projectaccess:create_new_project' %}" class="btn btn-default">Create new project</a>

</div>
{% endblock %}
