
{% extends "base.html" %}

{% block content %}

<div class="container">

    <table class="table">

        <thead>

            <tr>
                <td>LDAP login & portal ID</td>
                <td>User name</td>
                <td>P4 login</td>
            </tr>

        </thead>

        <tbody>

            {% for user in users %}
                <tr>
                    <td> {{ user.name }} </td>
                    <td> {{ user.display_name }} </td>
                    <td> {{ user.p4_user_name }} <td>
                </tr>
            {% endfor %}

        </tbody>

    </table>

</div>
{% endblock %}